---
layout: default
title: Template Injection
---

<h1>Challenge section</h1>




<br>
<h2>Challenge 1</h2>
<img class="center-img" src="{{ '/assets/template/challenge1.png'}}" alt="">

<div class="jumbotron">
    <div class="container">
      <p>Tip: Search the injection and remember the methodology.</p>
    </div>
</div>

<p>Links:</p>
<ul>
  <li><a href="https://adworld.xctf.org.cn/task/answer?type=web&number=3&grade=1&id=5408&page=1">Challenge</a></li>
  <li><a href="https://adworld.xctf.org.cn/static/img/world.png">CTF</a></li>
</ul>
<br>

<hr>

<h2>Challenge 2</h2>
<img class="center-img" src="{{ '/assets/template/challenge2.png'}}" alt="">

<div class="jumbotron">
    <div class="container">
      <p>Tip: Find the correct template engine language.</p>
    </div>
</div>

<p>Link <a href="https://www.root-me.org/en/Challenges/Web-Server/Java-Server-side-Template-Injection">Java - Server-side Template Injection</a></p>

<br>
<hr>

<h2>Challenge 3</h2>
<img class="center-img" src="{{ '/assets/template/challenge3.png'}}" alt="">

<div class="jumbotron">
    <div class="container">
      <p>Tip: What are you looking for?</p>
    </div>
</div>

<p>Link <a href="https://2018game.picoctf.com/problems">Pico CTF 2018</a></p>
