---
layout: default
title: Template injection
---
<h1>Server-side Template Injection</h1>
<br>
<h2>Introduction</h2>
<p>In this section we will cover the template injection vulnerability. First we have to know what is a template and some basic concepts.</p>

<br>
<h3>Template Engines</h3>

<p>First of all we need to know what is a template engine. You'll find the info here: <a href="https://www.fullstackpython.com/template-engines.html">Template Engines</a>, Is refering to python, but it works.</p>

<br>
<h3>System elements</h3>
<p>Now we need to understand how it works and some elements.</p>

<img class="center-img" src="{{ '/assets/template/template-engine.png'}}" alt="">

<p>You'll find that info here: <a href="https://en.wikipedia.org/wiki/Template_processor">Template processor</a></p>

<br>
<h3>Technologies</h3>
<p>The important thing to note here is the different technologies that we can find per language and that there are a lot of template engines with different syntax and characteristics.</p>

<p>You'll find the info here: <a href="https://en.wikipedia.org/wiki/Comparison_of_web_template_engines">Comparison of web template engines</a> </p>

<hr>

<div class="jumbotron">
    <div class="container">
      <p>Make sure to add the most important information to your notes, and welcome to this section let's get to the true learning section.</p>
    </div>
</div>

<br>

<div class="center">
    <a href="{{ site.github.repo }}/web/template/learning" class="" >Learning Section >></a></div>
</div>
<br>
