---
layout: default
title: Template Injection
---
<h1>Server-side Template Injection - Learning section</h1>


<br>
<h2>The Portswigger Web Academy</h2>
<br>
<img class="center-img" src="{{ '/assets/template/PSSSTI.png'}}" alt="">


<h3>Before you start</h3>
<ul>
  <li>In the Portswigger Web Academy you'll find the theoretical information and explanation, then you'll find a challenge, make sure to understand the information before you start the challenge. </li>
  <li>The theoretical information is such important as the challenge or practical part.</li>
  <li>Take your notes they are very important.</li>
  <li>Try to do everything by yourself, but remember that we are learning so feel free to see the solution and follow it, you'll learn a lot</li>
  <li>Google is your friend.</li>
</ul>

<p>Link: <a href="https://portswigger.net/web-security/server-side-template-injection">Server-side template injection - Portswigger</a></p>
<h3>After the activity</h3>
<p>You now know:</p>
<ul>
  <li>What is server-side template injection.</li>
  <li>The impact of server-side template injection.</li>
  <li>How do server-side template injection vulnerabilities arise.</li>
  <li>How to construct a server-side template injection attack.</li>
  <li>Detect, identify and exploit a server-side template injection attack.</li>
  <li>Look for information in the language documentation.</li>
  <li>Look for known exploits.</li>
  <li>Create a custom attack.</li>
</ul>

<br>
<hr>
<h2>PayloadAllTheThings</h2>

<img class="center-img" src="{{ '/assets/template/payloadall.png'}}" alt="">

<p>Here in this site you'll find some useful payloads and a brief explanation of how it works, so make sure to have a look at it. </p>
<p>Also you can use this site and try the payloads in it when you are facing a challenge.</p>
<p>Here is the link: <a href="https://github.com/swisskyrepo/PayloadsAllTheThings/tree/master/Server%20Side%20Template%20Injection">PayloadAllTheThings - Templates Injections</a></p>


<hr>

<div class="center">
    <a href="{{ site.github.repo }}/web/template/challenge" class="" >Challenge Section >></a></div>
</div>
<br>
