<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">

    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/index.html">Home</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/introduction/">Introduction</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/starting/">Starting...</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/authentication/">Authentication</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/session/">Session Management</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/file_upload/">File Upload</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/RFI-LFI/">RFI LFI</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/template/">Template Injection</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/sqli/">SQLI</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/xxe/">XXE</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/xss/">XSS</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/rce/">RCE</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/php/">PHP vulnerabilities</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/web/master/">Master</a>




  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
